.list-team
	width: 100%
	display: flex
	flex-wrap: wrap
	justify-content: center
	align-items: flex-start
	font-size: 0
	&__img
		height: 100%
	&__item
		overflow: hidden
		display: inline-block
		&_gr-1
			width: 555px
			height: 374px
		&_gr-2
			width: 405px
			height: 400px
		&_gr-3
			width: 405px
			height: 345px

	&__item_box-text
		display: flex
		justify-content: center
		align-items: center
		flex-direction: column
		background-color: #ffffff
		font-size: 16px
		.list-team
			&__img
				width: 95px
				height: 95px
			&__name
				font-size: 24px
				font-weight: 700
			&__text-1
				margin-bottom: 15px